body {
    background-color: #ebbf47;
}


.container_2 {
    background-color:#381a07 ;
    margin-top: 20px;
    position: relative;
    left:25%;
    width:50%;
    border: 5px solid #000000;
    margin-bottom: 20px;
    }

.frontpage-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
}
.start-img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.frontpage-button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
}

.button1 {
    margin:20px 0;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 38px;
    padding:20px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    
  }
  
  @media only screen and (max-width: 600px) {
    .button1 {
        margin:20px 0;
        font-size: 24px;
        padding:10px;
        
    }
    .container_2 {
        left: 10%;
        width: 80%;
    }
  }


  .button1 span {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  
  .button1 span:after {
    text-decoration: none;
    color: white;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    text-decoration: none;
    color: white;
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    text-decoration: none;
    color: white;
    opacity: 1;
    right: 0;
  }


 