/******BODY******/

body {
    background-image: linear-gradient(135deg, #c0be3b, #d4ad42, #9e4407);
    height: 100vh;
    
}

.body2 {
    background-image: linear-gradient(135deg, #9e4407, #a7821f,  #c0be3b);
    height: 100vh;
}

/*-----BODY-----*/



/******LANDING PAGE BOX******/

.container_2 {
    background-color:#381a07 ;
    margin-top: 1.3%;
    position: relative;
    left:25%;
    width:50%;
    border: 5px solid #000000;
    }

/*-----LANDING PAGE BOX-----*/



/******LANDING PAGE CAT******/

.frontpage-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
}
.start-img {
    flex-shrink: 0;
    min-height: 100%;
}

/*-----LANDING PAGE BOX-----*/


/******START BUTTON******/


.frontpage-button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
}

.button1 {
    margin:45px 25px 25px 25px;
    border-radius: 4px;
    background-color: #d14116;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 38px;
    padding:17px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    
  }

.button1 span {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  
.button1 span:after {
    text-decoration: none;
    color: white;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button1:hover span {
    text-decoration: none;
    color: white;
    padding-right: 25px;
  }
  
.button1:hover span:after {
    text-decoration: none;
    color: white;
    opacity: 1;
    right: 0;
  }
 
/*-----START BUTTON-----*/

  
  

/******RESPONSIVENESS ~ LANDING PAGE******/


@media only screen and (max-width: 600px) {
    .button1 {
        margin:30px 20px 20px 20px;
        font-size: 24px;
        padding:10px;
        
    }
    .container_2 {
        margin-top: 2.5%;
        left: 10%;
        width: 80%;
    }
  }

/*-----RESPONSIVENESS ~ LANDING PAGE-----*/


  

 /******GAME PAGE MAROON BOX******/


.container_main {
    
     margin: auto;
     width: 50%;
     height: 90vh;
     background-image: linear-gradient(45deg, rgb(51, 23, 6), rgb(78, 5, 5), rgb(87, 8, 8), rgb(121, 3, 3) );
     position: relative;
 }

/*-----GAME PAGE MAROON BOX-----*/


/******GAME PAGE IMAGES******/

.cat-image {
    top:68%;
     position: absolute;
     width:20%;
     left:12%;
     transition: all 0.5s;
    cursor: pointer;
    border-radius: 8px;
 }

.cat-image:hover {
     opacity: 0.8;
     border: 3px solid black;
 }

.mouse-image {
    top:68%;
    position: absolute;
    width:20%;
    left:40%;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 8px;
}

.mouse-image:hover {
    opacity: 0.8;
    border: 3px solid black;
}

.elephant-image {
    top:68%;
    position: absolute;
    width:20%;
    right: 12%;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 8px;
}

.elephant-image:hover {
    opacity: 0.8;
    border: 3px solid black;
}

.user-choice-display {
    border: 3px solid black;
    position: absolute;
    top:6%;
    width:30%;
    left:13.333%;
    border-radius: 10px;
    
}
.computer-choice-display {
    border: 3px solid black;
    top:6%;
    position: absolute;
    width:30%;
    right:13.333%;   
    border-radius: 10px; 
}

.container_main_bottom {
    margin:auto;
    background-image:linear-gradient(39deg, rgb(142, 206, 190), rgb(104, 214, 187), rgb(29, 144, 135), rgb(9, 105, 73)) ;
    width: 100%;
    height: 55vh;
}

/*-----GAME PAGE IMAGES-----*/

.pressed1 {
    transition: all .1s ease-in-out ;
    transform: scale(1.2);
  }
.pressed2 {
    transition: all .1s ease-in-out;
    transform: scale(1.2);
    transition-delay: 0.25s;
  }

.win_background {
    background-image:linear-gradient(39deg, rgb(123, 194, 133), rgb(99, 202, 116), rgb(34, 133, 25), rgb(19, 133, 44)) ;
  }

.lose_background {
    background-image:linear-gradient(39deg, rgb(194, 121, 121), rgb(197, 92, 92), rgb(141, 37, 37), rgb(126, 31, 31)) ;
  }

.draw_background {
    background-image:linear-gradient(39deg, rgb(200, 206, 123), rgb(204, 193, 94), rgb(128, 139, 25), rgb(114, 104, 16)) ;
  }
  
.win-lose-table {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(3, 4, 3);
    padding: 10px;
  }


  /******RESPONSIVENESS ~ GAME PAGE******/


@media only screen and (max-width: 600px) {
    .container_main {
        width: 60%;
    }

    .pressed1 {
        transition: all .1s ease-in-out ;
        transform: scale(1.07);
      }
    .pressed2 {
        transition: all .1s ease-in-out;
        transform: scale(1.07);
        transition-delay: 0.25s;
      }

    .cat-image {
        top:45%;
         position: absolute;
         width:35%;
         left:10%;
         transition: all 0.5s;
        cursor: pointer;
     }
    .mouse-image {
        top:45%;
        position: absolute;
        width:35%;
        left:55%;
        transition: all 0.5s;
        cursor: pointer;
    }
    .elephant-image {
        top:66%;
        position: absolute;
        width:35%;
        right: 32.5%;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .user-choice-display {
        position: absolute;
        top:8%;
        width:42.5%;
        left:5%;
        
        
    }
    .computer-choice-display {
        top:8%;
        position: absolute;
        width:42.5%;
        left:52.5%;
    }
    .container_main_bottom {
        margin:auto;
        
        width: 100%;
        height: 33vh;
    }
  }



  
/*-----RESPONSIVENESS ~ GAME PAGE-----*/



/*

  body {
    background-image: linear-gradient(135deg, #dfdc4f, #d4ad42, #c7570c);
}

.body2 {
    background-image: linear-gradient(135deg, #c7570c, #d4ad42,  #dfdc4f);
}


.container_2 {
    background-color:#381a07 ;
    margin-top: 20px;
    position: relative;
    left:25%;
    width:50%;
    border: 5px solid #000000;
    margin-bottom: 20px;
    }

.frontpage-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
}
.start-img {
    flex-shrink: 0;
    min-height: 100%;
}

.frontpage-button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
}

.button1 {
    margin:45px 25px 25px 25px;
    border-radius: 4px;
    background-color: #d14116;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 38px;
    padding:17px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    
  }
  
  @media only screen and (max-width: 600px) {
    .button1 {
        margin:30px 20px 20px 20px;
        font-size: 24px;
        padding:10px;
        
    }
    .container_2 {
        left: 10%;
        width: 80%;
    }
  }


  .button1 span {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  
  .button1 span:after {
    text-decoration: none;
    color: white;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    text-decoration: none;
    color: white;
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    text-decoration: none;
    color: white;
    opacity: 1;
    right: 0;
  }


 .container_main {
     margin: auto;
     margin-top: 0.9%;
     width: 50%;
     height: 100vh;
     background-image: linear-gradient(45deg, rgb(51, 23, 6), rgb(78, 5, 5), rgb(87, 8, 8), rgb(121, 3, 3) );
     
     position: relative;
 }

 .cat-image {
    top:64%;
     position: absolute;
     width:20%;
     left:12%;
     transition: all 0.5s;
    cursor: pointer;
 }
 .mouse-image {
    top:64%;
    position: absolute;
    width:20%;
    left:40%;
    transition: all 0.5s;
    cursor: pointer;
}
.elephant-image {
    top:64%;
    position: absolute;
    width:20%;
    right: 12%;
    transition: all 0.5s;
    cursor: pointer;
}

.user-choice-display {
    position: absolute;
    top:6%;
    width:30%;
    left:13.333%;
    
    
}
.computer-choice-display {
    top:6%;
    position: absolute;
    width:30%;
    right:13.333%;    
}

.container_main_bottom {
    margin:auto;
    background-color:blue ;
    width: 100%;
    height: 55vh;
}

@media only screen and (max-width: 600px) {
    .cat-image {
        top:35%;
         position: absolute;
         width:35%;
         left:10%;
         transition: all 0.5s;
        cursor: pointer;
     }
     .mouse-image {
        top:35%;
        position: absolute;
        width:35%;
        left:55%;
        transition: all 0.5s;
        cursor: pointer;
    }
    .elephant-image {
        top:55%;
        position: absolute;
        width:35%;
        right: 32.5%;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .user-choice-display {
        position: absolute;
        top:5%;
        width:42.5%;
        left:5%;
        
        
    }
    .computer-choice-display {
        top:5%;
        position: absolute;
        width:42.5%;
        left:52.5%;
    }
    .container_main_bottom {
        margin:auto;
        background-color:blue ;
        width: 100%;
        height: 33vh;
    }
  }

  */

 
 