/******BODY******/

body {
    background-image: linear-gradient(135deg, #611555, #6a1271, #9e4407);
    height: 100vh;
    
}

.body2 {
    background-image: linear-gradient(62deg, #7b39b1, #63037e,  #370a58, #2f064d);
    height: 100vh;
}


/*-----BODY-----*/


/********BUTTONS*****************/

.play_again {
    position: absolute;
    bottom:1.7%;
    background-color: #000000;
    color: white;
    padding: 2% 13% ;
    margin:0;
}

.play_again:hover {
    color: #000000;
    background-color: white;
}


/*--------------------------------*/


/******LANDING PAGE BOX******/

.container_2 {
    background-image: linear-gradient(77deg,#edd48ab7, #eaca7986, #d7a62b21) ;
    margin-top: 1.3%;
    height: 80%;
    position: relative;
    left:25%;
    width:50%;
    border: 5px solid #000000;
    }

/*-----LANDING PAGE BOX-----*/



/******LANDING PAGE CAT******/

.frontpage-img {
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.start-img{
    position: relative;
    left:0%;
    width:50%;
    height:50% ;
}

/*-----LANDING PAGE BOX-----*/






/******START BUTTON******/


.frontpage-button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    
}

.button1 {
    margin:45px 25px 25px 25px;
    border-radius: 4px;
    background-color: #d14116;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 38px;
    padding:17px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    
  }

.button1 span {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  
.button1 span:after {
    text-decoration: none;
    color: white;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button1:hover span {
    text-decoration: none;
    color: white;
    padding-right: 25px;
  }
  
.button1:hover span:after {
    text-decoration: none;
    color: white;
    opacity: 1;
    right: 0;
  }
 
/*-----START BUTTON-----*/

  
  .navbar-me {
    position: static;
  }




  

 /******GAME PAGE MAROON BOX******/


.container_main {
    
     left: 20%;
     width: 50%;
     height: 91.4vh;
     background-image: linear-gradient(45deg, rgba(51, 23, 6, 0.76), rgba(78, 5, 5, 0.806), rgba(87, 8, 8, 0.831), rgba(121, 3, 3, 0.725) );
     position: relative;
 }

/*-----GAME PAGE MAROON BOX-----*/


/******GAME SCORES************/


.score_box {
    left: 100%;   
    width: 40%;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    padding: 2%;
    color: #FFFFFF;
    border-color: #ebe3e3;
    background: url(images/blackboard.jpg);
    height: 91.4vh;
    position: absolute;
   
}

/*-------GAME SCORES---------*/





/******GAME PAGE IMAGES******/

.cat-image {
    top:68%;
     position: absolute;
     width:20%;
     left:12%;
     transition: all 0.5s;
    cursor: pointer;
    border-radius: 8px;
 }

.cat-image:hover {
     opacity: 0.8;
     border: 3px solid black;
 }

.mouse-image {
    top:68%;
    position: absolute;
    width:20%;
    left:40%;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 8px;
}

.mouse-image:hover {
    opacity: 0.8;
    border: 3px solid black;
}

.elephant-image {
    top:68%;
    position: absolute;
    width:20%;
    right: 12%;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 8px;
}

.elephant-image:hover {
    opacity: 0.8;
    border: 3px solid black;
}

.user-choice-display {
    border: 3px solid black;
    position: absolute;
    top:6%;
    width:30%;
    left:13.333%;
    border-radius: 10px;
    
}
.computer-choice-display {
    border: 3px solid black;
    top:6%;
    position: absolute;
    width:30%;
    right:13.333%;   
    border-radius: 10px; 
}

.container_main_bottom {
    margin:auto;
    background-image:linear-gradient(39deg, rgb(89, 214, 183), rgb(57, 221, 180), rgb(26, 208, 193), rgb(12, 203, 139)) ;
    width: 100%;
    height: 55vh;
}

/*-----GAME PAGE IMAGES-----*/

.pressed1 {
    transition: all .6s ease-in-out ;
    transform: scale(1.09);
  }
.pressed2 {
    transition: all .6s ease-in-out;
    transform: scale(1.09);
    transition-delay: 0.20s;
  }

.win_background {
    background-image:linear-gradient(39deg, rgb(104, 207, 117), rgb(69, 190, 90), rgb(28, 143, 17), rgb(3, 160, 37)) ;
  }

.lose_background {
    background-image:linear-gradient(39deg, rgb(206, 83, 83), rgb(196, 45, 45), rgb(207, 28, 28), rgb(218, 1, 1)) ;
  }

.draw_background {
    background-image:linear-gradient(39deg, rgb(180, 165, 49), rgb(189, 175, 50), rgb(195, 214, 29), rgb(208, 189, 23)) ;
  }


  
 /***************RULES_PAGE*****************/




.the_rules {
    margin-left: 15vw;
    margin-top: 10vh;
    height: 80vh;
    width: 85vw;
}
.rules_paragraph {
    color: #bdb09b;
    font-size: 1.8rem;
}
  .column1 {
    width: 33%;
  }
  .column2 {
    width: 10%;
  }
  .column3 {
    width: 33%;
  }

 /*------------RULES_PAGE------------------*/




  /******RESPONSIVENESS ~ GAME PAGE******/

@media only screen and (max-width:950px) and (min-width:850px) and (max-height:1400px) and (min-height:1200px) {
    .the_rules {
        margin-left: 15vw;
        margin-top: 10vh;
        height: 80vh;
        width: 85vw;
    }
    .rules_paragraph {
        color: #bdb09b;
        font-size: 1.8rem;
    }
      .column1 {
        width: 33%;
      }
      .column2 {
        width: 10%;
      }
      .column3 {
        width: 33%;
      }
    
}

@media only screen and (max-width:800px) and (max-height:1050px) {
    .the_rules {
        margin-left: 10vw;
        margin-top: 10vh;
        height: 80vh;
        width: 85vw;
    }
    .rules_paragraph {
        color: #bdb09b;
        font-size: 1.8rem;
    }
      .column1 {
        width: 85%;
        margin-bottom: 5%;
      }
      .column2 {
          margin-left: 30%;
        width: 15%;
        transform:rotate(90deg);
      }
      .column3 {
        margin-top:5%;
        width: 85%;
      }
}
@media only screen and (max-width: 600px) {

    
.start-img{
    position: relative;
    left:0%;


    width:80%;
    height:80% ;
}
    .score_box {
        width: 70%;
        position: absolute;
        left:-66.666666%;
        font-size: 1.5rem;
    } 
    .button1 {
        margin:30px 20px 20px 20px;
        font-size: 24px;
        padding:10px;
        
    }
    .container_2 {
        margin-top: 2.5%;
        left: 10%;
        width: 80%;
    }
    .container_main {
        width: 60%;
        left:40%;
    }

    .pressed1 {
        transition: all .1s ease-in-out ;
        transform: scale(1.07);
      }
    .pressed2 {
        transition: all .1s ease-in-out;
        transform: scale(1.07);
        transition-delay: 0.25s;
      }

    .cat-image {
        top:45%;
         position: absolute;
         width:35%;
         left:10%;
         transition: all 0.5s;
        cursor: pointer;
     }
    .mouse-image {
        top:45%;
        position: absolute;
        width:35%;
        left:55%;
        transition: all 0.5s;
        cursor: pointer;
    }
    .elephant-image {
        top:65%;
        position: absolute;
        width:35%;
        right: 32.5%;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .user-choice-display {
        position: absolute;
        top:8%;
        width:42.5%;
        left:5%;
        
        
    }
    .computer-choice-display {
        top:8%;
        position: absolute;
        width:42.5%;
        left:52.5%;
    }
    .container_main_bottom {
        margin:auto;
        width: 100%;
        height: 33vh;
    }
  }










/*-----RESPONSIVENESS ~ GAME PAGE-----*/



/*

  body {
    background-image: linear-gradient(135deg, #dfdc4f, #d4ad42, #c7570c);
}

.body2 {
    background-image: linear-gradient(135deg, #c7570c, #d4ad42,  #dfdc4f);
}


.container_2 {
    background-color:#381a07 ;
    margin-top: 20px;
    position: relative;
    left:25%;
    width:50%;
    border: 5px solid #000000;
    margin-bottom: 20px;
    }

.frontpage-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
}
.start-img {
    flex-shrink: 0;
    min-height: 100%;
}

.frontpage-button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
}

.button1 {
    margin:45px 25px 25px 25px;
    border-radius: 4px;
    background-color: #d14116;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 38px;
    padding:17px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    
  }
  
  @media only screen and (max-width: 600px) {
    .button1 {
        margin:30px 20px 20px 20px;
        font-size: 24px;
        padding:10px;
        
    }
    .container_2 {
        left: 10%;
        width: 80%;
    }
  }


  .button1 span {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  
  .button1 span:after {
    text-decoration: none;
    color: white;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    text-decoration: none;
    color: white;
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    text-decoration: none;
    color: white;
    opacity: 1;
    right: 0;
  }


 .container_main {
     margin: auto;
     margin-top: 0.9%;
     width: 50%;
     height: 100vh;
     background-image: linear-gradient(45deg, rgb(51, 23, 6), rgb(78, 5, 5), rgb(87, 8, 8), rgb(121, 3, 3) );
     
     position: relative;
 }

 .cat-image {
    top:64%;
     position: absolute;
     width:20%;
     left:12%;
     transition: all 0.5s;
    cursor: pointer;
 }
 .mouse-image {
    top:64%;
    position: absolute;
    width:20%;
    left:40%;
    transition: all 0.5s;
    cursor: pointer;
}
.elephant-image {
    top:64%;
    position: absolute;
    width:20%;
    right: 12%;
    transition: all 0.5s;
    cursor: pointer;
}

.user-choice-display {
    position: absolute;
    top:6%;
    width:30%;
    left:13.333%;
    
    
}
.computer-choice-display {
    top:6%;
    position: absolute;
    width:30%;
    right:13.333%;    
}

.container_main_bottom {
    margin:auto;
    background-color:blue ;
    width: 100%;
    height: 55vh;
}

@media only screen and (max-width: 600px) {
    .cat-image {
        top:35%;
         position: absolute;
         width:35%;
         left:10%;
         transition: all 0.5s;
        cursor: pointer;
     }
     .mouse-image {
        top:35%;
        position: absolute;
        width:35%;
        left:55%;
        transition: all 0.5s;
        cursor: pointer;
    }
    .elephant-image {
        top:55%;
        position: absolute;
        width:35%;
        right: 32.5%;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .user-choice-display {
        position: absolute;
        top:5%;
        width:42.5%;
        left:5%;
        
        
    }
    .computer-choice-display {
        top:5%;
        position: absolute;
        width:42.5%;
        left:52.5%;
    }
    .container_main_bottom {
        margin:auto;
        background-color:blue ;
        width: 100%;
        height: 33vh;
    }
  }

  */